<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn">

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="allfile"
          fileName="C:/logs/TaxExpenseTracker.Api/tax-expense-tracker-${shortdate}.log"
          createDirs="true"
            archiveEvery="Day"
            maxArchiveFiles="14"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" writeTo="console,allfile" />
    <logger name="*" minlevel="Info" writeTo="console,allfile" />
  </rules>
</nlog>
