.toolbar {
	position: sticky;
	top: 0;
	z-index: 100;
}

.brand {
	font-weight: 600;
}

.spacer {
	flex: 1;
}

a[mat-button].active-link {
	background-color: rgb(255 255 255 / 18%);
	font-weight: 600;
}

